@{
    ViewBag.Title = "Home Page";
}
<script src="~/Content/ViewController/Index.js"></script>
<div style="display: block;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <input type="date" id="reportDate" name="reportDate" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
            </div>
            <div class="col-7">
                <img src="~/Content/src/img/ReportIcon.png" width="32" height="32" class="d-inline-block align-middle rounded menubar">
                <img src="~/Content/src/img/plusIcon.png" class="d-inline-block align-middle menubar" data-toggle="modal" data-target="#AddBagModal">
                <div class="d-inline-block align-middle rounded menubar" style="padding-right:5px">
                    <input type="text" id="tbSearchBox" onkeyup="searchBags()" placeholder="ค้นหา...">
                </div>
                <button data-toggle="modal" data-target="#EditBagModal"> </button>
            </div>
            <div class="col-3">

            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="table-responsive-xl mt-2 tableFixHead" style="height:500px;overflow-y:auto;">
                    <table class="table table-bordered" id="tbStockItemList">
                        <thead>
                            <tr>
                                <th scope="col" class="align-baseline text_center">
                                    สินค้า
                                </th>
                                <th scope="col" class="align-baseline text_center">จำนวน</th>
                                <th scope="col" class="align-baseline text_center">
                                    ต้นทุน <br />
                                    บาท/ชิ้น
                                </th>
                                <th scope="col" class="align-baseline text_center">
                                    ราคาขาย <br />
                                    บาท/ชิ้น
                                </th>
                                <th scope="col" class="align-baseline text_center">
                                    กำไร <br />
                                    บาท/ชิ้น
                                </th>
                                <th scope="col" class="align-baseline text_center">
                                    ค่าส่ง <br />
                                    บาท/ชิ้น
                                </th>
                                <th scope="col" class="align-baseline text_center">
                                    กำไรจากค่าส่ง <br />
                                    บาท/ชิ้น
                                </th>
                                <th scope="col" class="align-baseline text_center">
                                    ค่ากล่อง+เทป <br />
                                    บาท/ชิ้น
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var stockedItem in Model.Data)
                            {
                                <tr>
                                    <td class="text_center" onclick="showEditModal(this)" data-toggle="modal" data-target="#EditBagModal">@stockedItem.Item</td>
                                    <td class="text_center">@stockedItem.ItemCount</td>
                                    <td class="text_center">@stockedItem.Cost</td>
                                    <td class="text_center">@stockedItem.SaleCost</td>
                                    <td class="text_center">@stockedItem.Profit</td>
                                    <td class="text_center">@stockedItem.SendCost</td>
                                    <td class="text_center">@stockedItem.SendCostProfit</td>
                                    <td class="text_center">@stockedItem.PakagingCost</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-3">
                <div class="container-fluid mt-3">
                    <div class="row">
                        <div class="col-8">
                            <h6>รายรับสุทธิ(ของวัน)</h6>
                        </div>
                        <div class="col-4">
                            <span id="incomeDay">0</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h6>รายรับสุทธิ(ของเดือน)</h6>
                        </div>
                        <div class="col-4">
                            <span id="incomeMonth">0</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h6>รายจ่ายสุทธิ(ของวัน)</h6>
                        </div>
                        <div class="col-4">
                            <span id="costDay">0</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h6>รายจ่ายสุทธิ(ของเดือน)</h6>
                        </div>
                        <div class="col-4">
                            <span id="costMonth">0</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h6>กำไรสุทธิ(ของวัน)</h6>
                        </div>
                        <div class="col-4">
                            <span id="profitDay">0</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h6>กำไรสุทธิ(ของเดือน)</h6>
                        </div>
                        <div class="col-4">
                            <span id="profitMonth">0</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h6>จำนวนกระเป๋าทั้งหมด</h6>
                        </div>
                        <div class="col-4">
                            <span id="itemCount">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <span id="spanLog">
            wait for log
        </span>
    </div>
</div>

<div class="modal fade" id="AddBagModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">เพิ่มกระเป๋า</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="inputFieldItemName">ชื่อของกระเป๋า</label>
                        <input type="text" class="form-control" id="inputFieldItemName">
                    </div>
                    <div class="form-group">
                        <label for="inputFieldCost">ค่ากระเป๋า (รวมส่ง)</label>
                        <input type="number" class="form-control" id="inputFieldCost">
                    </div>
                    <div class="form-group count-up row">
                        <div class="col-2">
                            <button type="button" id="countDown" onclick="countItemDown()" style="width:inherit">-</button>
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" id="inputFieldItemCount" value="1">
                        </div>
                        <div class="col-2">
                            <button type="button" id="countUp" onclick="countItemUp()" style="width:inherit">+</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFieldCustomerName">รูปภาพ</label>
                        <input type="file" id="fileToUpload" multiple size="50" onchange="uploadFile(this)">
                        <div class="row_image" id="gallery">

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="btnSubmitNewItem" onclick="submitForm()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="EditBagModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">เปลี่ยนแปลงข้อมูลกระเป๋า</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container" id="modalEditBagInformation">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="slider">
                                <div class="carousel slide" id="carousel">
                                    <div class="carousel-inner" id="carouselInnerImages">
                                    </div>
                                    <ol class="carousel-indicators" id="carouselIndicators">
                                    </ol>
                                    <a class="carousel-control-prev" href="#" role="button">
                                        <span class="carousel-control-prev-icon" aria-hidden="true">
                                            <span class="sr-only">Previous</span>
                                        </span>
                                    </a>
                                    <a class="carousel-control-next" href="#" role="button">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="inputFieldItemName_OnModal">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>คงเหลือ:</p>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group count-up row">
                                            <div class="col-3">
                                                <button type="button" id="countDown_OnModal" onclick="countItemDown_OnModal()" style="width:inherit">-</button>
                                            </div>
                                            <div class="col-6">
                                                <input type="number" class="form-control" id="inputFieldItemCount_OnModal">
                                            </div>
                                            <div class="col-3">
                                                <button type="button" id="countUp_OnModal" onclick="countItemUp_OnModal()" style="width:inherit">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>ต้นทุน:</p>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control" id="inputFieldCost_OnModal">
                                    </div>
                                    <div class="col-md-4">
                                        <p>บาท/ชิ้น</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>ราคาขาย:</p>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control" id="inputFieldSale_OnModal">
                                    </div>
                                    <div class="col-md-4">
                                        <p>บาท/ชิ้น</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>กำไร:</p>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control" id="inputFieldProfit_OnModal">
                                    </div>
                                    <div class="col-md-4">
                                        <p>บาท/ชิ้น</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>ค่าส่ง:</p>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control" id="inputFieldSendCost_OnModal">
                                    </div>
                                    <div class="col-md-4">
                                        <p>บาท/ชิ้น</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>กำไรจากค่าส่ง:</p>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control" id="inputFieldSendCostProfit_OnModal">
                                    </div>
                                    <div class="col-md-4">
                                        <p>บาท/ชิ้น</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>ค่าแพค:</p>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control" id="inputFieldPackageCost_OnModal">
                                    </div>
                                    <div class="col-md-4">
                                        <p>บาท/ชิ้น</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>ลูกค้าที่ซื้อไป:</p>
                                    </div>
                                    <div class="col-md-8" id="inputFieldCustomerName_OnModal">

                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" id="btnSaveChange" onclick="saveChange()">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>